@* To get access to all Fluent UI System icons, install the Microsoft.FluentUI.AspNetCore.Compoents.Icon package *@
@* See all the diffeent ways on how to use icons at https://www.fluentui-blazor.net/Icon *@
@rendermode InteractiveServer
@implements IDisposable

@inject NavigationManager NavigationManager

<nav>
    <FluentNavMenu Width="250" @bind-Expanded="@IsExpanded" Collapsible="true" Title="Custom navigation menu">
        <AuthorizeView>
            <Authorized>
                <FluentNavLink Href="Account/Manage">@context.User.Identity?.Name</FluentNavLink>
                <FluentNavLink Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
                <FluentNavLink Href="patients">Patients</FluentNavLink>
                <FluentNavLink Href="treatment">Treatments</FluentNavLink>
                <FluentNavLink Href="reports">View reports</FluentNavLink>
            </Authorized>
            <NotAuthorized>
                <FluentNavLink Href="Account/Register">Register</FluentNavLink>
                <FluentNavLink Href="Account/Login">Login</FluentNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </FluentNavMenu>
</nav>


@code {
    bool IsExpanded = true;
    private string? currentUrl;
    
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

