@inherits LayoutComponentBase
@layout AccountLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <FluentGrid>
        <FluentGridItem sm="3">
            <ManageNavMenu />
        </FluentGridItem>

        <FluentGridItem sm="9">
            @Body
        </FluentGridItem>
        <FluentGridItem sm="3">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="" />
                <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
            </form>
        </FluentGridItem>
    </FluentGrid>

</div>
