@page "/counter"
@using CopyPara.Domain.Patients
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

<CopyPara.Components.Patient.PatientSearch PatientSelected="SelectedPatient" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void SelectedPatient(Patient patient)
    {
        Console.WriteLine(patient.Name);
    }
}